services:
  opencode:
    container_name: opencode
    image: arranhs/closedcode:latest
    build:
      context: .
    command: ["web"]
    restart: unless-stopped
    ports:
      - 4096:4096
    volumes:
      - ./data/workspace:/home/opencode/workspace
      - ./data/.config/opencode:/home/opencode/.config/opencode
      - ./data/.local/share/opencode:/home/opencode/.local/share/opencode
      - ~/.gitconfig:/home/opencode/.gitconfig:ro
      - ~/.config/gh/hosts.yml:/home/opencode/.config/gh/hosts.yml:ro
